name: MLflow CI Training

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Install micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        micromamba-version: latest
        environment-name: base
        init-shell: bash

    - name: Install MLflow and dependencies
      run: |
        micromamba install -y python=3.10
        pip install mlflow

    - name: Run MLflow Project
      run: |
        mlflow run . -e main

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: mlruns/
