name: MLflow CI Training

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Conda environment
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.10"
          auto-update-conda: false
          environment-file: conda.yml
          activate-environment: mlflow-env   # nama dari conda.yml
          use-mamba: true

      - name: Install dependencies (pip)
        run: |
          pip install mlflow

      - name: Run MLflow Project
        run: |
          mlflow run . --env-manager=local

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model_artifacts
          path: mlruns/
